<a href="https://colab.research.google.com/github/punnarat-w/Yomriver_analysis/blob/main/Copy_of_ForecastingModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Retrieving Data

In [1]:
# importing pandas library
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# download description file
!gdown --id 1GJdM5L1SH1Cs95xFeflf3HT7kLT4wd-f

Downloading...
From: https://drive.google.com/uc?id=1GJdM5L1SH1Cs95xFeflf3HT7kLT4wd-f
To: /content/st.csv
100% 20.8k/20.8k [00:00<00:00, 37.3MB/s]

In [3]:
def getData(filename):
  data = pd.read_csv(filename)
  # data['Datetime'] = pd.to_datetime(data['Datetime'])
  # data = data.set_index('Datetime')
  return data

In [4]:
description = getData('st.csv')
description

       code                    name        lat  ...     basin region station_type
0      BDLH               ทต.ลานหอย  17.008562  ...  ภาคเหนือ      R          NaN
1      SAMN              ทต.สามง่าม  16.512774  ...  ภาคเหนือ      R          NaN
2      SNGT            อบต.บ้านกลาง  18.482018  ...  ภาคเหนือ      R          NaN
3      KPPT           อบจ.กำแพงเพชร  16.410858  ...  ภาคเหนือ      R          NaN
4      PKTI          ทต.พรานกระต่าย  16.653760  ...  ภาคเหนือ      R          NaN
..      ...                     ...        ...  ...       ...    ...          ...
109  VLGE13            ชุมแสงสงคราม  16.858560  ...  ภาคเหนือ      W          NaN
110  VLGE15        ชุมชนหนองปิ้งไก่  16.434798  ...  ภาคเหนือ      R          NaN
111  VLGE12              นครป่าหมาก  16.623374  ...  ภาคเหนือ      W          NaN
112  TBW014  สะพานข้ามคลองเกรียงไกร  15.843182  ...  ภาคเหนือ      W          NaN
113  TBR013              อบต.ท่าเสา  15.990014  ...  ภาคเหนือ      R          NaN

[114 rows x 10 columns]

In [5]:
description['region'].value_counts()

R    77
W    37
Name: region, dtype: int64

Finding the code of chosen stations

In [6]:
description[description['name'] == 'ทต.เชียงม่วน']

    code          name        lat  ...     basin region station_type
32  CGMN  ทต.เชียงม่วน  18.893837  ...  ภาคเหนือ      R          NaN

[1 rows x 10 columns]

In [7]:
description[description['name'] == 'อบต.วังชิ้น']

    code         name       lat  ...     basin region station_type
25  WCHN  อบต.วังชิ้น  17.87883  ...  ภาคเหนือ      R          NaN

[1 rows x 10 columns]

In [8]:
description[description['name'] == 'โรงฆ่าสัตว์ ทม.สวรรคโลก']

    code                     name       lat  ...     basin region station_type
17  SWKL  โรงฆ่าสัตว์ ทม.สวรรคโลก  17.31681  ...  ภาคเหนือ      R          NaN

[1 rows x 10 columns]

##Download data

In [9]:
# download station file
!gdown --id 1ebJddYtRmEJbU9ITdvObE0IGr2zz5K0f
!gdown --id 1dj14nux3FyViM9heQwHxio1QZleZoZJx
!gdown --id 1hT_L86beygC_OQ1jMushxeDga8ZBM9Js

Downloading...
From: https://drive.google.com/uc?id=1ebJddYtRmEJbU9ITdvObE0IGr2zz5K0f
To: /content/CGMN.csv
3.72MB [00:00, 100MB/s]
Downloading...
From: https://drive.google.com/uc?id=1dj14nux3FyViM9heQwHxio1QZleZoZJx
To: /content/WCHN.csv
3.65MB [00:00, 56.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1hT_L86beygC_OQ1jMushxeDga8ZBM9Js
To: /content/SWKL.csv
3.69MB [00:00, 57.8MB/s]

In [10]:
north_df = getData('CGMN.csv')
mid_df = getData('WCHN.csv')
south_df = getData('SWKL.csv')

In [11]:
# download storm file
!gdown --id 1Sj-7RPCg6Ul4CWFdZ-hLAiWpVCzf-2_L

Downloading...
From: https://drive.google.com/uc?id=1Sj-7RPCg6Ul4CWFdZ-hLAiWpVCzf-2_L
To: /content/Storm_2010-2020.csv
100% 17.8k/17.8k [00:00<00:00, 15.3MB/s]

In [12]:
storm_df = getData('Storm_2010-2020.csv')
# storm_df

In [13]:
# download forest file
!gdown --id 1AYwTBFuIVJJ0QGDu1lALIQDmwpIKNO8P

Downloading...
From: https://drive.google.com/uc?id=1AYwTBFuIVJJ0QGDu1lALIQDmwpIKNO8P
To: /content/ForestNorth_2013-2019.csv
100% 1.57k/1.57k [00:00<00:00, 2.50MB/s]

In [14]:
forest_df = getData('ForestNorth_2013-2019.csv')
forest_df

    Year Province  ... Percent_of_Province_Area Non_Forest_Area
0   2019    ตอนบน  ...                   182.76          117.24
1   2019  ตอนกลาง  ...                    64.84           35.16
2   2019  ตอนล่าง  ...                   565.03          734.97
3   2018    ตอนบน  ...                   183.14          116.86
4   2018  ตอนกลาง  ...                    64.76           35.24
5   2018  ตอนล่าง  ...                   565.64          734.36
6   2017    ตอนบน  ...                   182.92          117.08
7   2017  ตอนกลาง  ...                    64.44           35.56
8   2017  ตอนล่าง  ...                   564.00          736.00
9   2016    ตอนบน  ...                   183.89          116.11
10  2016  ตอนกลาง  ...                    64.25           35.75
11  2016  ตอนล่าง  ...                   563.80          736.20
12  2015    ตอนบน  ...                   183.97          116.03
13  2015  ตอนกลาง  ...                    64.17           35.83
14  2015  ตอนล่าง  ...                   564.69          735.31
15  2014    ตอนบน  ...                   184.23          115.77
16  2014  ตอนกลาง  ...                    64.01           35.99
17  2014  ตอนล่าง  ...                   565.14          734.86
18  2013    ตอนบน  ...                   183.95          116.05
19  2013  ตอนกลาง  ...                    62.07           37.93
20  2013  ตอนล่าง  ...                   551.44          748.56

[21 rows x 6 columns]

#Data Preparation

###Combine data

In [15]:
def insertkey(df):
  # insert column key in df for merge data
  n_10 = df[df.date.str.contains('2010')]
  n_10.insert(0, "Key", "10")
  n_11 = df[df.date.str.contains('2011')]
  n_11.insert(0, "Key", "11")
  n_12 = df[df.date.str.contains('2012')]
  n_12.insert(0, "Key", "12")
  n_13 = df[df.date.str.contains('2013')]
  n_13.insert(0, "Key", "13")
  n_14 = df[df.date.str.contains('2014')]
  n_14.insert(0, "Key", "14")
  n_15 = df[df.date.str.contains('2015')]
  n_15.insert(0, "Key", "15")
  n_16 = df[df.date.str.contains('2016')]
  n_16.insert(0, "Key", "16")
  n_17 = df[df.date.str.contains('2017')]
  n_17.insert(0, "Key", "17")
  n_18 = df[df.date.str.contains('2018')]
  n_18.insert(0, "Key", "18")
  n_19 = df[df.date.str.contains('2019')]
  n_19.insert(0, "Key", "19")
  n_20 = df[df.date.str.contains('2020')]
  n_20.insert(0, "Key", "20")
  df = pd.concat([n_10, n_11, n_12, n_13, n_14, n_15, n_16, n_17, n_18, n_19, n_20], sort=False)
  return df

In [16]:
# insert column key in north_df for merge data
north_df = insertkey(north_df)
mid_df = insertkey(mid_df)
south_df = insertkey(south_df)
north_df.head()

  Key  code        date   time  rain1h  temp_out  press  humid
0  10  CGMN  2010-01-01  00:00  -999.0    -999.0 -999.0 -999.0
1  10  CGMN  2010-01-01  01:00  -999.0    -999.0 -999.0 -999.0
2  10  CGMN  2010-01-01  02:00  -999.0    -999.0 -999.0 -999.0
3  10  CGMN  2010-01-01  03:00  -999.0    -999.0 -999.0 -999.0
4  10  CGMN  2010-01-01  04:00  -999.0    -999.0 -999.0 -999.0

In [17]:
def insertkey_forest(df):
  # insert column key in nf_df for merge data
  nf_10 = df[df['Year'] == '2010']
  nf_10.insert(0, "Key", "10")
  nf_11 = df[df['Year'] == '2011']
  nf_11.insert(0, "Key", "11")
  nf_12 = df[df['Year'] == '2012']
  nf_12.insert(0, "Key", "12")
  nf_13 = df[df['Year'] == '2013']
  nf_13.insert(0, "Key", "13")
  nf_14 = df[df['Year'] == '2014']
  nf_14.insert(0, "Key", "14")
  nf_15 = df[df['Year'] == '2015']
  nf_15.insert(0, "Key", "15")
  nf_16 = df[df['Year'] == '2016']
  nf_16.insert(0, "Key", "16")
  nf_17 = df[df['Year'] == '2017']
  nf_17.insert(0, "Key", "17")
  nf_18 = df[df['Year'] == '2018']
  nf_18.insert(0, "Key", "18")
  nf_19 = df[df['Year'] == '2019']
  nf_19.insert(0, "Key", "19")
  nf_20 = df[df['Year'] == '2020']
  nf_20.insert(0, "Key", "20")
  df = pd.concat([nf_10, nf_11, nf_12, nf_13, nf_14, nf_15, nf_16, nf_17, nf_18, nf_19, nf_20], sort=False)
  return df

In [18]:
def prepare_forestdata(forest_df):
  nf_df = forest_df[forest_df['Province'] == 'ตอนบน']
  mf_df = forest_df[forest_df['Province'] == 'ตอนกลาง']
  sf_df = forest_df[forest_df['Province'] == 'ตอนล่าง']
  nf_df = nf_df.astype(str)
  mf_df = mf_df.astype(str)
  sf_df = sf_df.astype(str)
  nf_df = insertkey_forest(nf_df)
  mf_df = insertkey_forest(mf_df)
  sf_df = insertkey_forest(sf_df)
  return nf_df, mf_df, sf_df

In [19]:
def combine_with_forest(north_df, nf_df, mid_df, mf_df, south_df, sf_df):
  data_north = pd.merge(north_df, nf_df, on="Key", how="outer")
  data_mid = pd.merge(mid_df, mf_df, on="Key", how="outer")
  data_south = pd.merge(south_df, sf_df, on="Key", how="outer")
  return data_north, data_mid, data_south

In [20]:
nf_df, mf_df, sf_df = prepare_forestdata(forest_df)

In [21]:
north_df, mid_df, south_df = combine_with_forest(north_df, nf_df, mid_df, mf_df, south_df, sf_df)

In [22]:
#mid_df



##Data Cleansing

Drop range time that data rain1h unavailable (-999 = NaN)

In [23]:
def drop_range_unavailable(df):
  idx = df['rain1h'].ne(-999).idxmax()
  df = df.drop(range(0, idx))
  return df

In [24]:
north_df = drop_range_unavailable(north_df)
north_df.head()

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
15278  11  CGMN  ...                      NaN             NaN
15279  11  CGMN  ...                      NaN             NaN
15280  11  CGMN  ...                      NaN             NaN
15281  11  CGMN  ...                      NaN             NaN
15282  11  CGMN  ...                      NaN             NaN

[5 rows x 14 columns]

In [25]:
mid_df = drop_range_unavailable(mid_df)
mid_df.head()

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11707  11  WCHN  ...                      NaN             NaN
11708  11  WCHN  ...                      NaN             NaN
11709  11  WCHN  ...                      NaN             NaN
11710  11  WCHN  ...                      NaN             NaN
11711  11  WCHN  ...                      NaN             NaN

[5 rows x 14 columns]

In [26]:
south_df = drop_range_unavailable(south_df)
south_df.head()

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11176  11  SWKL  ...                      NaN             NaN
11177  11  SWKL  ...                      NaN             NaN
11178  11  SWKL  ...                      NaN             NaN
11179  11  SWKL  ...                      NaN             NaN
11180  11  SWKL  ...                      NaN             NaN

[5 rows x 14 columns]

In [27]:
#data_north = data_north.drop(range(0,22167))

In [28]:
#data_mid = data_mid.drop(range(0,17722))

In [29]:
#data_south = data_south.drop(range(0,15280))

Drop column Province and Year because we don't have to use it anymore

In [30]:
def drop_column(df, column):
  df = df.drop(columns = column, axis = 1)
  return df

In [31]:
north_df = drop_column(north_df, ['Province','Year'])
north_df.head()

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
15278  11  CGMN  ...                      NaN             NaN
15279  11  CGMN  ...                      NaN             NaN
15280  11  CGMN  ...                      NaN             NaN
15281  11  CGMN  ...                      NaN             NaN
15282  11  CGMN  ...                      NaN             NaN

[5 rows x 12 columns]

In [32]:
mid_df = drop_column(mid_df, ['Province','Year'])
mid_df.head()

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11707  11  WCHN  ...                      NaN             NaN
11708  11  WCHN  ...                      NaN             NaN
11709  11  WCHN  ...                      NaN             NaN
11710  11  WCHN  ...                      NaN             NaN
11711  11  WCHN  ...                      NaN             NaN

[5 rows x 12 columns]

In [33]:
south_df = drop_column(south_df, ['Province','Year'])
south_df.head()

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11176  11  SWKL  ...                      NaN             NaN
11177  11  SWKL  ...                      NaN             NaN
11178  11  SWKL  ...                      NaN             NaN
11179  11  SWKL  ...                      NaN             NaN
11180  11  SWKL  ...                      NaN             NaN

[5 rows x 12 columns]

In [34]:
#overview data
print("สถานีทต.เชียงม่วน")
display(north_df)
print("\n\nสถานีอบต.วังชิ้น")
display(mid_df)
print("\n\nสถานีโรงฆ่าสัตว์ ทม.สวรรคโลก")
display(south_df)

สถานีทต.เชียงม่วน

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
15278  11  CGMN  ...                      NaN             NaN
15279  11  CGMN  ...                      NaN             NaN
15280  11  CGMN  ...                      NaN             NaN
15281  11  CGMN  ...                      NaN             NaN
15282  11  CGMN  ...                      NaN             NaN
...    ..   ...  ...                      ...             ...
96427  20  CGMN  ...                      NaN             NaN
96428  20  CGMN  ...                      NaN             NaN
96429  20  CGMN  ...                      NaN             NaN
96430  20  CGMN  ...                      NaN             NaN
96431  20  CGMN  ...                      NaN             NaN

[81154 rows x 12 columns]

สถานีอบต.วังชิ้น

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11707  11  WCHN  ...                      NaN             NaN
11708  11  WCHN  ...                      NaN             NaN
11709  11  WCHN  ...                      NaN             NaN
11710  11  WCHN  ...                      NaN             NaN
11711  11  WCHN  ...                      NaN             NaN
...    ..   ...  ...                      ...             ...
96427  20  WCHN  ...                      NaN             NaN
96428  20  WCHN  ...                      NaN             NaN
96429  20  WCHN  ...                      NaN             NaN
96430  20  WCHN  ...                      NaN             NaN
96431  20  WCHN  ...                      NaN             NaN

[84725 rows x 12 columns]

สถานีโรงฆ่าสัตว์ ทม.สวรรคโลก

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11176  11  SWKL  ...                      NaN             NaN
11177  11  SWKL  ...                      NaN             NaN
11178  11  SWKL  ...                      NaN             NaN
11179  11  SWKL  ...                      NaN             NaN
11180  11  SWKL  ...                      NaN             NaN
...    ..   ...  ...                      ...             ...
96427  20  SWKL  ...                      NaN             NaN
96428  20  SWKL  ...                      NaN             NaN
96429  20  SWKL  ...                      NaN             NaN
96430  20  SWKL  ...                      NaN             NaN
96431  20  SWKL  ...                      NaN             NaN

[85256 rows x 12 columns]

In [35]:
#Replace -999 with Nan for missing value inside data
def replacwithnan(df):
  df = df.replace({-999: np.nan})
  return df
north_df = replacwithnan(north_df)
mid_df = replacwithnan(mid_df)
south_df = replacwithnan(south_df)
display(north_df)
display(mid_df)
display(south_df)

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
15278  11  CGMN  ...                      NaN             NaN
15279  11  CGMN  ...                      NaN             NaN
15280  11  CGMN  ...                      NaN             NaN
15281  11  CGMN  ...                      NaN             NaN
15282  11  CGMN  ...                      NaN             NaN
...    ..   ...  ...                      ...             ...
96427  20  CGMN  ...                      NaN             NaN
96428  20  CGMN  ...                      NaN             NaN
96429  20  CGMN  ...                      NaN             NaN
96430  20  CGMN  ...                      NaN             NaN
96431  20  CGMN  ...                      NaN             NaN

[81154 rows x 12 columns]

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11707  11  WCHN  ...                      NaN             NaN
11708  11  WCHN  ...                      NaN             NaN
11709  11  WCHN  ...                      NaN             NaN
11710  11  WCHN  ...                      NaN             NaN
11711  11  WCHN  ...                      NaN             NaN
...    ..   ...  ...                      ...             ...
96427  20  WCHN  ...                      NaN             NaN
96428  20  WCHN  ...                      NaN             NaN
96429  20  WCHN  ...                      NaN             NaN
96430  20  WCHN  ...                      NaN             NaN
96431  20  WCHN  ...                      NaN             NaN

[84725 rows x 12 columns]

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11176  11  SWKL  ...                      NaN             NaN
11177  11  SWKL  ...                      NaN             NaN
11178  11  SWKL  ...                      NaN             NaN
11179  11  SWKL  ...                      NaN             NaN
11180  11  SWKL  ...                      NaN             NaN
...    ..   ...  ...                      ...             ...
96427  20  SWKL  ...                      NaN             NaN
96428  20  SWKL  ...                      NaN             NaN
96429  20  SWKL  ...                      NaN             NaN
96430  20  SWKL  ...                      NaN             NaN
96431  20  SWKL  ...                      NaN             NaN

[85256 rows x 12 columns]

Find missing value

In [36]:
#North
print("สถานีทต.เชียงม่วน")
display(north_df.isna().sum())
#Mid
print("\n\nสถานีอบต.วังชิ้น")
display(mid_df.isna().sum())
#South
print("\n\nสถานีโรงฆ่าสัตว์ ทม.สวรรคโลก")
display(south_df.isna().sum())

สถานีทต.เชียงม่วน

Key                             0
code                            0
date                            0
time                            0
rain1h                      18748
temp_out                    20142
press                       19051
humid                       27080
Province_Area               19810
Forest_Area                 19810
Percent_of_Province_Area    19810
Non_Forest_Area             19810
dtype: int64

สถานีอบต.วังชิ้น

Key                             0
code                            0
date                            0
time                            0
rain1h                       6028
temp_out                     7402
press                        6729
humid                       26456
Province_Area               23381
Forest_Area                 23381
Percent_of_Province_Area    23381
Non_Forest_Area             23381
dtype: int64

สถานีโรงฆ่าสัตว์ ทม.สวรรคโลก

Key                             0
code                            0
date                            0
time                            0
rain1h                       5602
temp_out                     6281
press                       27173
humid                        7304
Province_Area               23912
Forest_Area                 23912
Percent_of_Province_Area    23912
Non_Forest_Area             23912
dtype: int64

In [37]:
#fill by random values in their columns beacause it will not change data's distribution
def fill_missing_value(df):
  feature_missing = df.columns[df.isnull().any()].tolist()
  df_original = df.copy()
  for i in feature_missing:
    np.random.seed(0)
    nan_rows = df[i].isna()
    random_feat = np.random.choice(df[i][~nan_rows], replace=True, size=sum(nan_rows)) 
    df.loc[nan_rows,i] = random_feat
  return df

In [38]:
north_df = fill_missing_value(north_df)
mid_df = fill_missing_value(mid_df)
south_df = fill_missing_value(south_df)
display(north_df)
display(mid_df)
display(south_df)

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
15278  11  CGMN  ...                   183.95          116.05
15279  11  CGMN  ...                   182.92          117.08
15280  11  CGMN  ...                   182.92          117.08
15281  11  CGMN  ...                   183.14          116.86
15282  11  CGMN  ...                   183.14          116.86
...    ..   ...  ...                      ...             ...
96427  20  CGMN  ...                   182.76          117.24
96428  20  CGMN  ...                   184.23          115.77
96429  20  CGMN  ...                   183.89          116.11
96430  20  CGMN  ...                   183.14          116.86
96431  20  CGMN  ...                   182.92          117.08

[81154 rows x 12 columns]

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11707  11  WCHN  ...                    62.07           37.93
11708  11  WCHN  ...                    64.44           35.56
11709  11  WCHN  ...                    64.44           35.56
11710  11  WCHN  ...                    64.76           35.24
11711  11  WCHN  ...                    64.76           35.24
...    ..   ...  ...                      ...             ...
96427  20  WCHN  ...                    64.76           35.24
96428  20  WCHN  ...                    64.76           35.24
96429  20  WCHN  ...                    64.76           35.24
96430  20  WCHN  ...                    64.76           35.24
96431  20  WCHN  ...                    64.76           35.24

[84725 rows x 12 columns]

      Key  code  ... Percent_of_Province_Area Non_Forest_Area
11176  11  SWKL  ...                   551.44          748.56
11177  11  SWKL  ...                    564.0           736.0
11178  11  SWKL  ...                    564.0           736.0
11179  11  SWKL  ...                   565.64          734.36
11180  11  SWKL  ...                   565.64          734.36
...    ..   ...  ...                      ...             ...
96427  20  SWKL  ...                    563.8           736.2
96428  20  SWKL  ...                    564.0           736.0
96429  20  SWKL  ...                   565.03          734.97
96430  20  SWKL  ...                    564.0           736.0
96431  20  SWKL  ...                   565.64          734.36

[85256 rows x 12 columns]

In [39]:
#North
print("สถานีทต.เชียงม่วน")
display(north_df.isna().sum())
#Mid
print("\n\nสถานีอบต.วังชิ้น")
display(mid_df.isna().sum())
#South
print("\n\nสถานีโรงฆ่าสัตว์ ทม.สวรรคโลก")
display(south_df.isna().sum())

สถานีทต.เชียงม่วน

Key                         0
code                        0
date                        0
time                        0
rain1h                      0
temp_out                    0
press                       0
humid                       0
Province_Area               0
Forest_Area                 0
Percent_of_Province_Area    0
Non_Forest_Area             0
dtype: int64

สถานีอบต.วังชิ้น

Key                         0
code                        0
date                        0
time                        0
rain1h                      0
temp_out                    0
press                       0
humid                       0
Province_Area               0
Forest_Area                 0
Percent_of_Province_Area    0
Non_Forest_Area             0
dtype: int64

สถานีโรงฆ่าสัตว์ ทม.สวรรคโลก

Key                         0
code                        0
date                        0
time                        0
rain1h                      0
temp_out                    0
press                       0
humid                       0
Province_Area               0
Forest_Area                 0
Percent_of_Province_Area    0
Non_Forest_Area             0
dtype: int64

## **จี้**

Check error data

In [40]:
#สถานีตอนบน north_df
#df['column'].describe() ดูค่าว่าเกินเกณฑ์มั้ย แทน column ด้วยชื่อคอลัมที่เป็น numerical data
#ประมาณฝนโดยรวมตอนบน
north_df['rain1h'].describe()

count    81154.000000
mean         0.106965
std          1.070122
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         58.800000
Name: rain1h, dtype: float64

In [41]:
#tempโดยรวมตอนบน
north_df['temp_out'].describe()

count    81154.000000
mean        27.611207
std          6.512672
min          6.400000
25%         23.500000
50%         27.000000
75%         32.300000
max         44.600000
Name: temp_out, dtype: float64

In [42]:
#ความกดอากาศโดยรวม
north_df['press'].describe()

count    81154.000000
mean       978.886415
std          4.296931
min        964.100000
25%        976.000000
50%        979.000000
75%        982.000000
max        995.000000
Name: press, dtype: float64

In [43]:
#ความชื้นโดยรวมตอนบน
north_df['humid'].describe()

count    81154.000000
mean        74.144407
std         21.500652
min         17.500000
25%         57.000000
50%         79.000000
75%         94.000000
max        100.000000
Name: humid, dtype: float64

In [44]:
north_df['Percent_of_Province_Area'].describe()

count      81154
unique         7
top       184.23
freq       11686
Name: Percent_of_Province_Area, dtype: object

In [45]:
# df['column'].unique() ดูพวกวัน แทน column ด้วยชื่อคอลัมที่เป็น categorical data เพื่อหาวัน error เช่น 32 ธันวา หรือเวลา 25.00 
#หรือโค้ดสถานีว่ามีสถานีอื่นหลุดมามั้ย
north_df['code'].unique()

array(['CGMN'], dtype=object)

In [46]:
north_df['date'].unique()

array(['2011-09-29', '2011-09-30', '2011-10-01', ..., '2020-12-29',
       '2020-12-30', '2020-12-31'], dtype=object)

In [47]:
north_df['time'].unique()

array(['14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
       '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00',
       '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00',
       '11:00', '12:00', '13:00'], dtype=object)

In [48]:
#สถานีตอนกลาง mid_df ทำเหมือนกับข้างบน
mid_df['rain1h'].describe()

count    84725.000000
mean         0.118437
std          1.169351
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         62.000000
Name: rain1h, dtype: float64

In [49]:
mid_df['temp_out'].describe()

count    84725.000000
mean        28.369382
std          6.316056
min          7.000000
25%         24.500000
50%         27.000000
75%         32.800000
max         44.600000
Name: temp_out, dtype: float64

In [50]:
mid_df['press'].describe()

count    84725.000000
mean       994.390848
std          4.596697
min        880.000000
25%        991.000000
50%        994.000000
75%        997.000000
max       1050.000000
Name: press, dtype: float64

In [51]:
mid_df['humid'].describe()

count    84725.000000
mean        74.335487
std         21.146790
min         20.000000
25%         57.000000
50%         78.900000
75%         94.000000
max        100.000000
Name: humid, dtype: float64

In [52]:
mid_df['Percent_of_Province_Area'].describe()

count     84725
unique        7
top       64.01
freq      12178
Name: Percent_of_Province_Area, dtype: object

In [53]:
mid_df['code'].unique()

array(['WCHN'], dtype=object)

In [54]:
mid_df['date'].unique()

array(['2011-05-03', '2011-05-04', '2011-05-05', ..., '2020-12-29',
       '2020-12-30', '2020-12-31'], dtype=object)

In [55]:
mid_df['time'].unique()

array(['19:00', '20:00', '21:00', '22:00', '23:00', '00:00', '01:00',
       '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00',
       '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
       '16:00', '17:00', '18:00'], dtype=object)

In [56]:
#สถานีตอนล่าง south_df
south_df['rain1h'].describe()

count    85256.000000
mean         0.094635
std          1.055458
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         47.800000
Name: rain1h, dtype: float64

In [57]:
south_df['temp_out'].describe()

count    85256.000000
mean        29.948482
std          5.581924
min         10.400000
25%         26.000000
50%         28.900000
75%         33.900000
max         44.900000
Name: temp_out, dtype: float64

In [58]:
south_df['press'].describe()

count    85256.000000
mean      1002.252541
std          4.481260
min        857.400000
25%       1000.000000
50%       1002.000000
75%       1005.000000
max       1118.800000
Name: press, dtype: float64

In [59]:
south_df['humid'].describe()

count    85256.000000
mean        69.798459
std         19.111261
min          6.200000
25%         55.000000
50%         72.000000
75%         86.000000
max        100.000000
Name: humid, dtype: float64

In [60]:
south_df['Percent_of_Province_Area'].describe()

count      85256
unique         7
top       565.14
freq       12253
Name: Percent_of_Province_Area, dtype: object

In [61]:
south_df['code'].unique()

array(['SWKL'], dtype=object)

In [62]:
south_df['date'].unique()

array(['2011-04-11', '2011-04-12', '2011-04-13', ..., '2020-12-29',
       '2020-12-30', '2020-12-31'], dtype=object)

In [63]:
south_df['time'].unique()

array(['16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00',
       '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00',
       '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00',
       '13:00', '14:00', '15:00'], dtype=object)



##Preprocessing

In [64]:
def change_todate(df):
  df['Year'] = df['date'].apply(lambda x: str(x)[:4])
  df['Month'] = df['date'].apply(lambda x: str(x)[5:7])
  df['Day'] = df['date'].apply(lambda x: str(x)[8:])
  df['date'] = pd.to_datetime(df['date'])
  return df

In [65]:
#change_todate(df) ตอนบน กลาง ล่าง
change_todate(north_df)

      Key  code       date   time  ...  Non_Forest_Area  Year  Month  Day
15278  11  CGMN 2011-09-29  14:00  ...           116.05  2011     09   29
15279  11  CGMN 2011-09-29  15:00  ...           117.08  2011     09   29
15280  11  CGMN 2011-09-29  16:00  ...           117.08  2011     09   29
15281  11  CGMN 2011-09-29  17:00  ...           116.86  2011     09   29
15282  11  CGMN 2011-09-29  18:00  ...           116.86  2011     09   29
...    ..   ...        ...    ...  ...              ...   ...    ...  ...
96427  20  CGMN 2020-12-31  19:00  ...           117.24  2020     12   31
96428  20  CGMN 2020-12-31  20:00  ...           115.77  2020     12   31
96429  20  CGMN 2020-12-31  21:00  ...           116.11  2020     12   31
96430  20  CGMN 2020-12-31  22:00  ...           116.86  2020     12   31
96431  20  CGMN 2020-12-31  23:00  ...           117.08  2020     12   31

[81154 rows x 15 columns]

In [66]:
change_todate(mid_df)

      Key  code       date   time  ...  Non_Forest_Area  Year  Month  Day
11707  11  WCHN 2011-05-03  19:00  ...            37.93  2011     05   03
11708  11  WCHN 2011-05-03  20:00  ...            35.56  2011     05   03
11709  11  WCHN 2011-05-03  21:00  ...            35.56  2011     05   03
11710  11  WCHN 2011-05-03  22:00  ...            35.24  2011     05   03
11711  11  WCHN 2011-05-03  23:00  ...            35.24  2011     05   03
...    ..   ...        ...    ...  ...              ...   ...    ...  ...
96427  20  WCHN 2020-12-31  19:00  ...            35.24  2020     12   31
96428  20  WCHN 2020-12-31  20:00  ...            35.24  2020     12   31
96429  20  WCHN 2020-12-31  21:00  ...            35.24  2020     12   31
96430  20  WCHN 2020-12-31  22:00  ...            35.24  2020     12   31
96431  20  WCHN 2020-12-31  23:00  ...            35.24  2020     12   31

[84725 rows x 15 columns]

In [67]:
change_todate(south_df)

      Key  code       date   time  ...  Non_Forest_Area  Year  Month  Day
11176  11  SWKL 2011-04-11  16:00  ...           748.56  2011     04   11
11177  11  SWKL 2011-04-11  17:00  ...            736.0  2011     04   11
11178  11  SWKL 2011-04-11  18:00  ...            736.0  2011     04   11
11179  11  SWKL 2011-04-11  19:00  ...           734.36  2011     04   11
11180  11  SWKL 2011-04-11  20:00  ...           734.36  2011     04   11
...    ..   ...        ...    ...  ...              ...   ...    ...  ...
96427  20  SWKL 2020-12-31  19:00  ...            736.2  2020     12   31
96428  20  SWKL 2020-12-31  20:00  ...            736.0  2020     12   31
96429  20  SWKL 2020-12-31  21:00  ...           734.97  2020     12   31
96430  20  SWKL 2020-12-31  22:00  ...            736.0  2020     12   31
96431  20  SWKL 2020-12-31  23:00  ...           734.36  2020     12   31

[85256 rows x 15 columns]



##Transformation

In [68]:
#ตอนบน กลาง ล่าง
print("สถานีทต.เชียงม่วน")
display(north_df)
print("\n\nสถานีอบต.วังชิ้น")
display(mid_df)
print("\n\nสถานีโรงฆ่าสัตว์ ทม.สวรรคโลก")
display(south_df)

สถานีทต.เชียงม่วน

      Key  code       date   time  ...  Non_Forest_Area  Year  Month  Day
15278  11  CGMN 2011-09-29  14:00  ...           116.05  2011     09   29
15279  11  CGMN 2011-09-29  15:00  ...           117.08  2011     09   29
15280  11  CGMN 2011-09-29  16:00  ...           117.08  2011     09   29
15281  11  CGMN 2011-09-29  17:00  ...           116.86  2011     09   29
15282  11  CGMN 2011-09-29  18:00  ...           116.86  2011     09   29
...    ..   ...        ...    ...  ...              ...   ...    ...  ...
96427  20  CGMN 2020-12-31  19:00  ...           117.24  2020     12   31
96428  20  CGMN 2020-12-31  20:00  ...           115.77  2020     12   31
96429  20  CGMN 2020-12-31  21:00  ...           116.11  2020     12   31
96430  20  CGMN 2020-12-31  22:00  ...           116.86  2020     12   31
96431  20  CGMN 2020-12-31  23:00  ...           117.08  2020     12   31

[81154 rows x 15 columns]

สถานีอบต.วังชิ้น

      Key  code       date   time  ...  Non_Forest_Area  Year  Month  Day
11707  11  WCHN 2011-05-03  19:00  ...            37.93  2011     05   03
11708  11  WCHN 2011-05-03  20:00  ...            35.56  2011     05   03
11709  11  WCHN 2011-05-03  21:00  ...            35.56  2011     05   03
11710  11  WCHN 2011-05-03  22:00  ...            35.24  2011     05   03
11711  11  WCHN 2011-05-03  23:00  ...            35.24  2011     05   03
...    ..   ...        ...    ...  ...              ...   ...    ...  ...
96427  20  WCHN 2020-12-31  19:00  ...            35.24  2020     12   31
96428  20  WCHN 2020-12-31  20:00  ...            35.24  2020     12   31
96429  20  WCHN 2020-12-31  21:00  ...            35.24  2020     12   31
96430  20  WCHN 2020-12-31  22:00  ...            35.24  2020     12   31
96431  20  WCHN 2020-12-31  23:00  ...            35.24  2020     12   31

[84725 rows x 15 columns]

สถานีโรงฆ่าสัตว์ ทม.สวรรคโลก

      Key  code       date   time  ...  Non_Forest_Area  Year  Month  Day
11176  11  SWKL 2011-04-11  16:00  ...           748.56  2011     04   11
11177  11  SWKL 2011-04-11  17:00  ...            736.0  2011     04   11
11178  11  SWKL 2011-04-11  18:00  ...            736.0  2011     04   11
11179  11  SWKL 2011-04-11  19:00  ...           734.36  2011     04   11
11180  11  SWKL 2011-04-11  20:00  ...           734.36  2011     04   11
...    ..   ...        ...    ...  ...              ...   ...    ...  ...
96427  20  SWKL 2020-12-31  19:00  ...            736.2  2020     12   31
96428  20  SWKL 2020-12-31  20:00  ...            736.0  2020     12   31
96429  20  SWKL 2020-12-31  21:00  ...           734.97  2020     12   31
96430  20  SWKL 2020-12-31  22:00  ...            736.0  2020     12   31
96431  20  SWKL 2020-12-31  23:00  ...           734.36  2020     12   31

[85256 rows x 15 columns]

In [83]:
# transform all features to 1 day (ฝนสะสมต่อวัน, อุณหภูมิ ความกดอากาศ ความเร็วลมเฉลี่ย) groupby aggregate
pday_n = north_df.groupby('date')['rain1h','temp_out','press','humid'].mean()
pday_n

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

              rain1h   temp_out       press      humid
date
2011-09-29  0.000000  29.800000  977.200000  78.660000
2011-09-30  0.000000  29.641667  976.708333  71.083333
2011-10-01  2.508333  27.079167  977.750000  74.566667
2011-10-02  0.325000  28.129167  979.433333  76.333333
2011-10-03  0.333333  27.808333  979.458333  79.087500
...              ...        ...         ...        ...
2020-12-27  0.000000  25.029167  978.312500  76.641667
2020-12-28  0.000000  25.291667  977.179167  75.895833
2020-12-29  0.000000  24.054167  978.066667  71.870833
2020-12-30  0.000000  21.416667  980.754167  75.412500
2020-12-31  0.000000  23.087500  982.700000  70.308333

[3382 rows x 4 columns]

In [90]:
total = north_df.groupby('date')['Province_Area','Forest_Area','Percent_of_Province_Area','Non_Forest_Area'].first()
total

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            Province_Area  ... Non_Forest_Area
date                       ...
2011-09-29  19,254,452.30  ...          116.05
2011-09-30  19,254,452.30  ...          116.03
2011-10-01  19,254,452.30  ...          117.08
2011-10-02  19,254,452.30  ...          116.03
2011-10-03  19,254,452.30  ...          116.03
...                   ...  ...             ...
2020-12-27  19,254,452.30  ...          116.11
2020-12-28  19,254,452.30  ...          116.03
2020-12-29  19,254,452.30  ...          116.86
2020-12-30  19,254,452.30  ...          115.77
2020-12-31  19,254,452.30  ...          116.05

[3382 rows x 4 columns]

In [96]:
tt_pday = pd.concat([pday_n, total.reindex(pday_n.index)], axis=1)
#pd.concat([df1, df4.reindex(df1.index)], axis=1)
#tt_pday = tt_pday.groupby('date').reset_index()
display(tt_pday)

              rain1h   temp_out  ...  Percent_of_Province_Area  Non_Forest_Area
date                             ...
2011-09-29  0.000000  29.800000  ...                    183.95           116.05
2011-09-30  0.000000  29.641667  ...                    183.97           116.03
2011-10-01  2.508333  27.079167  ...                    182.92           117.08
2011-10-02  0.325000  28.129167  ...                    183.97           116.03
2011-10-03  0.333333  27.808333  ...                    183.97           116.03
...              ...        ...  ...                       ...              ...
2020-12-27  0.000000  25.029167  ...                    183.89           116.11
2020-12-28  0.000000  25.291667  ...                    183.97           116.03
2020-12-29  0.000000  24.054167  ...                    183.14           116.86
2020-12-30  0.000000  21.416667  ...                    184.23           115.77
2020-12-31  0.000000  23.087500  ...                    183.95           116.05

[3382 rows x 8 columns]

In [80]:
ppday_n = north_df.groupby('date')['Forest_Area'].mean()
ppday_n

DataError: ignored

In [86]:
#รวมต่อเดือน
pmonth_n = north_df.groupby('date')['rain1h','temp_out','press','humid'].mean()
pmonth_n.insert(north_df('Province_Area'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

TypeError: ignored

In [71]:
mid_df.groupby('date')['rain1h','temp_out','press','humid'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            rain1h  temp_out    press   humid
date
2011-05-03     0.2     123.5   4972.9   425.0
2011-05-04     2.4     688.3  23865.8  1917.4
2011-05-05     0.6     690.1  23884.6  1802.7
2011-05-06     0.0     693.4  23880.2  1761.3
2011-05-07     0.0     653.2  23871.3  1936.3
...            ...       ...      ...     ...
2020-12-27     0.0     578.8  23881.2  2042.6
2020-12-28     0.0     593.8  23852.5  2032.4
2020-12-29     0.0     567.0  23861.1  1902.4
2020-12-30     0.0     529.4  23918.2  1930.4
2020-12-31     0.0     537.8  23985.9  1925.6

[3531 rows x 4 columns]

In [72]:
south_df.groupby('date')['rain1h','temp_out','press','humid'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            rain1h  temp_out    press   humid
date
2011-04-11     0.0     243.4   8015.2   503.0
2011-04-12     0.2     728.9  24026.7  1624.4
2011-04-13     0.2     698.6  24023.2  1481.3
2011-04-14     0.0     703.4  24056.5  1745.8
2011-04-15     0.0     736.2  24071.7  1733.5
...            ...       ...      ...     ...
2020-12-27     0.0     642.0  24103.8  1779.5
2020-12-28     0.0     654.6  24090.2  1774.3
2020-12-29     0.0     630.3  24088.8  1711.4
2020-12-30     0.0     630.6  24138.2  1550.7
2020-12-31     0.0     587.5  24220.2  1514.1

[3553 rows x 4 columns]

In [75]:
north_df.insert(pday_n)

TypeError: ignored

In [73]:
# add column จำนวนวันที่ฝนตก ตอนบนกลางล่าง
pmonth_n.loc[pmonth_n['rain1h'] > 0.0].count()

rain1h      1656
temp_out    1656
press       1656
humid       1656
dtype: int64

In [74]:
pmonth_n[('rain1h') > 0.0].count()

TypeError: ignored

In [ ]:
# set index
def transform_index(dataframe):
  dataframe = dataframe.set_index('date')
  return dataframe

In [ ]:
#เรียกใช้ transform_index

#Data Exploration

## **อิ่ม**

*   Analyzing and comparing rainfall <br> ดูปริมาณน้ำฝนแล้วก็แนวโน้มของปัจจัยอื่นๆด้วยได้ เพื่อตอบคำถาม plot graph<br> 
-ปริมาณฝนรายปีมีการเปลี่ยนแปลงอย่างไร<br> 
-บริเวณใด(บน กลาง ล่าง มีความผันผวน)ของปริมาณฝนมากที่สุด ระหว่างฤดูหรือปี<br>

In [ ]:
#ตัวอย่าง plot แต่อย่าลืมทำเป็นปีก่อนจะดูง่ายกว่าภาพล่าง df_new = df.copy()

# df_new.Prep.plot(figsize=(15,5))
# plt.title('Prep Trend')
# #plt.title('Symbol: {}'.format(stock_symbol))
# plt.grid()
# plt.legend();

In [ ]:
#สถานีตอนบน

In [ ]:
#สถานีตอนกลาง

In [ ]:
#สถานีตอนล่าง



*   Season Time Series --มิ้ม

In [ ]:
# decompose trend, seasonal, and residual
from statsmodels.tsa.seasonal import seasonal_decompose

In [ ]:
# prep_decom = seasonal_decompose(df.Prep.values, model='additive', freq= 30)

# prep_decom.plot()

#Data Modeling

In [ ]:
# # Create get_X_y function to get dependent (y) and independent (X) variables
# def prep_data(dataframe):
  
#   dataframe['date'] = pd.to_datetime(dataframe['date'])
#   dataframe = dataframe.set_index('date')

#   # Extract time series variable
#   X = dataframe.reset_index()[['date']]
#   X['Year'] = [X.iloc[i, 0].year for i in range(len(X))]
#   X['Month'] = [X.iloc[i, 0].month for i in range(len(X))]
#   X['Day'] = [X.iloc[i, 0].day for i in range(len(X))]
#   #X['EnglishDay'] = X.Date.dt.strftime('%a')

#   # Set categorical variable
#   X = X.astype({'Month':'category', 
#                 'Day':'category'}).set_index('date')

#   # Get OHLC
#   X = X.merge(dataframe, left_index=True, right_index=True)

#   # Extract dependent variable
#   #y = dataframe[['Prep']].copy()

#   # col_drop = ['Station', 'MaxTemp', 'MaxTempTime', 'MinTemp', 'MinTempTime',
#   #                   'MaxRHTime', 'MinRHTime', 'SR', 'Prep', 'MaxSTemp5', 'MaxSTemp5Time', 'MinSTemp5', 'MinSTemp5Time',
#   #                   'MaxSTemp15', 'MaxSTemp15Time', 'MinSTemp15', 'MinSTemp15Time', 'BV','Year_y', 'MaxWGTime', 'DirectionMaxWG']
#   # X = X.drop(col_drop, axis=1)
#   #X = X.rename(columns={'Year_x' : 'Year'})
#   return X #, y

In [ ]:
X, y = get_X_y(data)
X.head()

In [ ]:
def encoding_data(X, y):
  X_encoded = pd.get_dummies(X)
  y = pd.DataFrame(y, index= y.index, columns= ['Prep'])
  return X_encoded, y

In [ ]:
#Split data

def train_test_split(dataframe, y, trainsize=0.8):

  import math

  train_ratio = trainsize
  train_size = math.ceil(len(dataframe) * train_ratio)

    # Get train dataframe
  X_train = dataframe.iloc[:train_size, :]
  y_train = y.iloc[:train_size, :]

  # Get train dataframe
  X_test = dataframe.iloc[train_size:, :]
  #X_test = dataframe.copy()
  y_test = y.iloc[train_size:, :]


  return X_train, X_test, y_train, y_test

In [ ]:
X_train, X_test, y_train, y_test  = train_test_split(X_encoded, y, trainsize=0.8)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y = lr.predict(X_test)

In [ ]:
#Error
from sklearn.metrics import mean_squared_error
import math

MSE = mean_squared_error(y_test, y)
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

In [ ]:
def prediction_model(X_train, X_test, y_train, y_test):
  from sklearn.linear_model import LinearRegression
  from sklearn.metrics import mean_squared_error
  import math
  lr = LinearRegression()
  lr.fit(X_train, y_train)
  y_pred = lr.predict(X_test)
  
  MSE = mean_squared_error(y_test, y_pred)
  RMSE = math.sqrt(MSE)
  print("Root Mean Square Error:\n")
  print(RMSE)
  return y_pred

In [ ]:
#Visualize
def visualize(X, y, y_hat):

  # Set figure size
  plt.figure(figsize=(30, 10))

  # Plot actual price
  plt.plot(X.index, y, label='Actual Prep')

  # Plot predicted price
  plt.plot(X.index, y_hat, label='Predicted Prep')

  # Set title
  plt.title('Prep')

  # Set x-label
  plt.xlabel('Period')

  # Set y-label
  plt.ylabel('Prep')

  # Plot grid
  plt.grid()

  # Display legend
  plt.legend()

  # Display graph
  plt.show()

In [ ]:
visualize(X_test,y_test,y)

#Feature Engineering

In [ ]:
# Create feature_engineer function to extract new features
def feature_engineer(dataframe, feat_eng=False):

  if feat_eng:
    # Create a feature from previous day AvgTemp
    dataframe['PreviousDayAvgTemp'] = dataframe[['AvgTemp']].shift(periods=1,fill_value=0)

    # Create a feature from previous day VP
    dataframe['PreviousDayVP'] = dataframe[['VP']].shift(periods=1,fill_value=0)

    # Create a feature from previous day MaxRH
    dataframe['PreviousDayMaxRH'] = dataframe[['MaxRH']].shift(periods=1,fill_value=0)
    # Create a feature from previous day MinRH
    dataframe['PreviousDayMinRH'] = dataframe[['MinRH']].shift(periods=1,fill_value=0)
    # Create a feature from previous day WR
    dataframe['PreviousDayWR'] = dataframe[['WR']].shift(periods=1,fill_value=0)
    # Create a feature from previous day MaxWG
    dataframe['PreviousDayMaxWG'] = dataframe[['MaxWG']].shift(periods=1,fill_value=0)
 
  return dataframe

In [ ]:
# Test our feature_engineer function
X_engineered = feature_engineer(X, feat_eng=True)
X_engineered

#Data Pipeline

In [ ]:
def drop_range_unavailable(df):
  idx = df['rain1h'].ne(-999).idxmax()
  df = df.drop(range(0, idx))
  return df


def drop_column(df, column):
  df = df.drop(columns = column, axis = 1)
  return df


def replacwithnan(df):
  df = df.replace({-999: np.nan})
  return df

  
def fill_missing_value(df):
  feature_missing = df.columns[df.isnull().any()].tolist()
  df_original = df.copy()
  for i in feature_missing:
    np.random.seed(0)
    nan_rows = df[i].isna()
    random_feat = np.random.choice(df[i][~nan_rows], replace=True, size=sum(nan_rows)) 
    df.loc[nan_rows,i] = random_feat
  return df

In [ ]:
# def cleaning_data(df):
#   df = drop_range_unavailable(df)
#   df = drop_column(df, ['Province','Year'])
#   df = replacwithnan(df)
#   df = fill_missing_value(df)

In [ ]:
def prediction_model_pipeline(filename, feat_eng = True):
  #Get data
  df = getData(filename)
  df = fill_missing_value(df)
  #Get x y
  X, y = get_X_y(df)

  #Feature engineering
  X_engineered = feature_engineer(X, feat_eng=True)

  #Encoded
  X_eng_encoded, y = encoding_data(X_engineered, y)

  #Split
  X_train, X_test, y_train, y_test  = train_test_split(X_eng_encoded, y, trainsize=0.8)

  #Model
  y_pred = prediction_model(X_train, X_test, y_train, y_test)

  #Visualization
  visualize(X_test,y_test,y_pred)

In [ ]:
prediction_model_pipeline('rawdata_results_test.csv', feat_eng = True)

##Forecast Model

In [ ]:
pip install pmdarima

In [ ]:
data = getData('rawdata_results_test.csv')

In [ ]:
#Check Stationarity Data
from statsmodels.tsa.stattools import adfuller
def ad_test(dataset):
     dftest = adfuller(dataset, autolag = 'AIC')
     print("1. ADF : ",dftest[0])
     print("2. P-Value : ", dftest[1])
     print("3. Num Of Lags : ", dftest[2])
     print("4. Num Of Observations Used For ADF Regression:", dftest[3])
     print("5. Critical Values :")
     for key, val in dftest[4].items():
         print("\t{}: {} - The data is {} stationary with {}% confidence".format(k, v, "not" if v<dftest[0] else "", 100-int(k[:-1])))
ad_test(data['Prep'])

In [ ]:
from pmdarima import auto_arima
stepwise_fit = auto_arima(data['Prep'], trace=True,suppress_warnings=True)

Train model

In [ ]:
df_new = fill_missing_value(data)

In [ ]:
df_new = pd.DataFrame(df_new[['Prep']])

In [ ]:
df_new

In [ ]:
def f_train_test_split(dataframe,trainsize=0.8):

  import math

  train_ratio = trainsize
  train_size = math.ceil(len(dataframe) * train_ratio)

    # Get train dataframe
  X_train = dataframe.iloc[:train_size, :]
  #y_train = y.iloc[:train_size, :]

  # Get train dataframe
  X_test = dataframe.iloc[train_size:, :]
  #X_test = dataframe.copy()
  #y_test = y.iloc[train_size:, :]


  return X_train, X_test

In [ ]:
train, test = f_train_test_split(df_new)

In [ ]:
train.shape

In [ ]:
from statsmodels.tsa.arima_model import ARIMA
import warnings
warnings.filterwarnings('ignore')
model=ARIMA(df_new,order=(3,0,1))
model=model.fit()
model.summary()

In [ ]:
start=len(train)
end=len(train)+len(test)-1
pred=model.predict(start=start,end=end,typ='levels').rename('ARIMA Predictions')
pred.plot(figsize=(12,5),legend=True)
test['Prep'].plot(figsize=(12,5),legend=True)

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt
# test['Prep'].mean()
rmse=sqrt(mean_squared_error(pred,test['Prep']))
print(rmse)

In [ ]:
df = fill_missing_value(data)
model2=ARIMA(df['Prep'],order=(3,0,1))
model2=model2.fit()
df.tail()

In [ ]:
index_future_dates=pd.date_range(start='2020-12-31',end='2021-03-31')
#print(index_future_dates)
pred=model2.predict(start=len(df),end=len(df)+90,typ='levels').rename('ARIMA Predictions')
pred.index=index_future_dates
print(pred)

In [ ]:
pred.plot(figsize=(12,5),legend=True)